{% extends 'layout.html' %}

{% block content %}
<div class="content container">
<div class="explore-page">
<div class="row-fluid">
<h1>Explore</h1>
<p>Check out various interesting figures around codesters community</p>
<hr/>
</div>
<div class="row-fluid">
<div class="span12 explore-box">
<h3>Popular Resources</h3>
<table class="table table-bordered">
<thead>
<tr>
<th>#</th>
<th>Title</th>
<th>Topics</th>
<th>User</th>
</tr>
</thead>
<tbody>
<tr>
<td>1</td>
<td><a href="/resource/19/">Android Official Training Guide</a></td>
<td><a href="/resource/topic/android/">Android</a>, <a href="/resource/topic/java/">Java</a></td>
<td><a href="/profile/admin/">admin</a></td>
<tr>
<td>2</td>
<td><a href="/resource/1/">Google&#39;s Python Class</a></td>
<td><a href="/resource/topic/python/">Python</a></td>
<td><a href="/profile/karambir/">karambir</a></td>
<tr>
<td>3</td>
<td><a href="/resource/11/">Official Django Documentation</a></td>
<td><a href="/resource/topic/django/">Django</a>, <a href="/resource/topic/python/">Python</a></td>
<td><a href="/profile/karambir/">karambir</a></td>
<tr>
<td>4</td>
<td><a href="/resource/5/">Pro Git Book</a></td>
<td><a href="/resource/topic/git/">Git</a></td>
<td><a href="/profile/karambir/">karambir</a></td>
<tr>
<td>5</td>
<td><a href="/resource/3/">Dive Into Python 3</a></td>
<td><a href="/resource/topic/python/">Python</a></td>
<td><a href="/profile/karambir/">karambir</a></td>
</tbody>
</table>
</div>
</div>
<div class="row-fluid">
<div class="span12 explore-box">
<h3>Recent Resources <small>(<a href="/explore/resource/all/">Browse More</a>)</small></h3>
<table class="table table-bordered">
<thead>
<tr>
<th>#</th>
<th>Title</th>
<th>Topics</th>
<th>User</th>
</tr>
</thead>
<tbody>
<tr>
<td>1</td>
<td><a href="/resource/389/">Coursera: Introduction to Recommender Systems</a></td>
<td><a href="/resource/topic/algorithms/">Algorithms</a>, <a href="/resource/topic/data-structures/">Data Structures</a></td>
<td><a href="/profile/karambir/">karambir</a></td>
<tr>
<td>2</td>
<td><a href="/resource/388/">Python Practice Book by Anand Chitipothu</a></td>
<td><a href="/resource/topic/python/">Python</a></td>
<td><a href="/profile/adil/">adil</a></td>
<tr>
<td>3</td>
<td><a href="/resource/387/">web2py</a></td>
<td><a href="/resource/topic/python/">Python</a></td>
<td><a href="/profile/samuel/">samuel</a></td>
<tr>
<td>4</td>
<td><a href="/resource/386/">Trends in HTML5</a></td>
<td><a href="/resource/topic/html/">HTML</a></td>
<td><a href="/profile/vinoth17121991/">vinoth17121991</a></td>
<tr>
<td>5</td>
<td><a href="/resource/385/">Visualizing Python code execution</a></td>
<td><a href="/resource/topic/python/">Python</a></td>
<td><a href="/profile/timonti/">timonti</a></td>
</tbody>
</table>
</div>
</div>
<div class="row-fluid">
<div class="span6 explore-box">
<h3>Popular Topics <small>(<a href="/explore/topic/all/">Browse all</a>)</small></h3>
<table class="table table-bordered">
<thead>
<tr>
<th>Rank</th>
<th>Topic</th>
</tr>
</thead>
<tbody>
<tr>
<td>1</td>
<td><a href="/resource/topic/python/">Python</a></td>
<tr>
<td>2</td>
<td><a href="/resource/topic/c/">C</a></td>
<tr>
<td>3</td>
<td><a href="/resource/topic/javascript/">Javascript</a></td>
<tr>
<td>4</td>
<td><a href="/resource/topic/java/">Java</a></td>
<tr>
<td>5</td>
<td><a href="/resource/topic/linux/">Linux</a></td>
</tbody>
</table>
</div>
<div class="span6 explore-box">
<h3>Popular Domains <small>(<a href="/explore/domain/all/">Browse all</a>)</small></h3>
<table class="table table-bordered">
<thead>
<tr>
<th>Rank</th>
<th>Domain name</th>
<th>Resources Submitted</th>
</tr>
</thead>
<tbody>
<tr>
<td>1</td>
<td><a href="http://www.flipkart.com">www.flipkart.com</a></td>
<td> 58</td>
</tr>
<tr>
<td>2</td>
<td><a href="http://www.coursera.org">www.coursera.org</a></td>
<td> 26</td>
</tr>
<tr>
<td>3</td>
<td><a href="http://thenewboston.org">thenewboston.org</a></td>
<td> 21</td>
</tr>
<tr>
<td>4</td>
<td><a href="http://teamtreehouse.com">teamtreehouse.com</a></td>
<td> 19</td>
</tr>
<tr>
<td>5</td>
<td><a href="http://www.udacity.com">www.udacity.com</a></td>
<td> 12</td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="row-fluid">
<div class="span6 explore-box">
<h3>Most Active Users</h3>
<table class="table table-bordered">
<thead>
<tr>
<th>Rank</th>
<th>Username</th>
<th>Resources Submitted</th>
</tr>
</thead>
<tbody>
<tr>
<td>1</td>
<td><a href="/profile/karambir/">@karambir</a></td>
<td>205</td>
</tr>
<tr>
<td>2</td>
<td><a href="/profile/adil/">@adil</a></td>
<td>71</td>
</tr>
<tr>
<td>3</td>
<td><a href="/profile/mayank/">@mayank</a></td>
<td>67</td>
</tr>
<tr>
<td>4</td>
<td><a href="/profile/admin/">@admin</a></td>
<td>31</td>
</tr>
</tbody>
</table>
</div>
<div class="span6 explore-box">
<h3>Recent Snippets from Users</h3>
<table class="table table-bordered">
<thead>
<tr>
<th>#</th>
<th>Title</th>
<th>User</th>
</tr>
</thead>
<tbody>
<tr>
<td>1</td>
<td><a href="/profile/pulkitpahwa11/snippets/7/">Learning Django again...but this time without any retakes</a></td>
<td>pulkitpahwa11</td>
</tr>
<tr>
<td>2</td>
<td><a href="/profile/karambir/snippets/6/">Attending Pycon India 2013</a></td>
<td>karambir</td>
</tr>
<tr>
<td>3</td>
<td><a href="/profile/shashisp/snippets/5/">test</a></td>
<td>shashisp</td>
</tr>
<tr>
<td>4</td>
<td><a href="/profile/admin/snippets/3/">Using new Git workflow</a></td>
<td>admin</td>
</tr>
<tr>
<td>5</td>
<td><a href="/profile/karambir/snippets/2/">Checklist for ultimate web performance</a></td>
<td>karambir</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div> 
{% endblock %}


