{% extends 'layout.html' %}
{% block content %}
<div class="content container">
<div class="home-content">
<div class="row-fluid">
<div class="span12 jumbotron mast-head">
<h1>X_plan学习拓展计划</h1>
<p class="lead">学而不思则罔 思而不学则殆</p>
<a href="/accounts/register/" class="btn btn-success btn-large"> 开始学习<i class=" icon-share-alt icon-white"></i> </a>
</div>
</div>
<div class="row-fluid">
<div class="marketing marketing-head">
<h2>在这里将收获什么？</h2>
<div class="media">
<img src="/static/img/main-universities.jpg" height=128 width=128 alt="free university course" class="pull-left img-circle"/>
<div class="media-body">
<h4 class="media-heading">强化知识记忆，打牢知识基础</h4>
合抱之木，生于毫末；千里之行，始于足下；九层之台，起于垒土。通过循序渐进的学习，强化最新的课堂知识，夯实基础，为梦想名校启航。
</div>
</div>
<div class="media">
<img src="/static/img/main-tutorials.jpg" height=128 width=128 alt="best tutorals" class="pull-left img-circle"/>
<div class="media-body">
<h4 class="media-heading">方便快捷的网络教学互动</h4>
学不为学，知之通晓为知之，最新IT技术使得学习更方便快捷，寓教于乐，学而不倦。强化知识学习，寓教于乐。知之为知之，不知为不知！
</div>
</div>
<div class="media">
<img src="/static/img/main-books.jpg" height=128 width=128 alt="most recommended cse books and ebooks" class="pull-left img-circle"/>
<div class="media-body">
<h4 class="media-heading">紧跟课堂教学，辅助强化学习</h4>
紧跟教学老师备课内容，辅助上课老师分析学生情况，精准定位错误点和错误集群，有针对性的查漏补缺。使得学生真真正正掌握知识。
</div>
</div>
<div class="media">
<img src="/static/img/main-help.jpg" height=128 width=128 alt="colleaborate on learning" class="pull-left img-circle"/>
<div class="media-body">
<h4 class="media-heading">课程互动学习，同龄人同步进步</h4>
紧跟教学老师上课教授内容，不脱离实际教学，通过做题情况统计汇总，分析学生学习共性，助力学生更快成长。
</div>
</div>
</div>
</div>
<div class="btn-group">
<a href="/" class="btn btn-danger register-button btn-large">了解更多</a>
<a href="/accounts/register/" class="btn btn-success btn-large">开始学习<i class=" icon-share-alt icon-white"></i> </a>
</div>
</div>
</div>
</div>
</div> 

{% endblock %}

